<%-include('parts/header')-%>


<form action="/load/file" method="post" enctype="multipart/form-data">

    <input type="file" name="filedata" id="file-btn">
    <input type="submit" value="Завантажити">
</form>



<%-include('parts/footer')-%>