<%-include('parts/header')-%>
<div class="container">
    <h5>Логін: <%=login%></h5>
    <div>
        <a class="waves-effect waves-light btn-large" href='/load/file'>Завантажити відомість</a>
    </div>
    
    
    <div class="logout-btn">
        <a class="waves-effect waves-light btn" href="/users/logout">Вийти</a>
    </div>
</div>
<%-include('parts/footer')-%>